/*Main*/

* {
    box-sizing: border-box;
}

body {
    display: block;
    margin: auto;
}

.indexwrap {
    text-align: center;
}

.filter {
    margin: auto;
    text-align: center;
    padding: 2rem;
}

.filter button {
    font-family: 'DIN Medium';
    font-size: 25px;
    background-color: white;
    border: 2px solid #be2b2b;
    border-radius: 5px;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 2rem;
    transition-duration: 0.4s;
}

.card {
    text-align: center;
    max-width: 18rem;
    max-height: 30rem;
    background-color: white;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}

.card-subtitle,
.card-mins,
.card-cals {
    text-align: center;
    font-family: 'DIN Medium';
    font-size: 16px;
    line-height: 1rem;
}

h2 {
    font-family: 'BrandonPrinted-Two';
    font-size: 20px;
}

h1 {
    font-family: 'BrandonPrinted-Two';
}

h3 {
    font-family: 'DIN Medium';
}

.card-content img {
    max-width: 15rem;
    border-radius: 50%;
}

.cards img {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    display: inline-block;
}

.copyright {
    padding: 5px;
    text-align: center;
    background: #FDF9E8;
    text-align: center;
}

.up p {
    text-align: center;
    display: block;
    margin: auto;
    font-family: 'DIN Medium';
    font-size: 12px;

}

.search {
    float: right;
    line-height: 1.5rem;
    color: grey;
}

.search button {
    border: none;
    color: grey;
}

.search button:hover {
    cursor: pointer;
}



.filter button:hover {
    background-color: #be2b2b;
    color: white;
    cursor: pointer;
}


.logo img {
    display: block;
    margin: auto;
    max-width: 8rem;
}

.logo h1 {
    font-size: 40px;
    padding-top: 1rem;
}

/*Recipe Page*/

header {
    padding: 10px;
    background: #FDF9E8;
}


.wrapper {
    padding: 0 1.5rem;
    margin: auto;
}

img {
    max-width: 27rem;
}

.home img {
    max-width: 5rem;
    float: top-left;
}

.plateimg img {
    max-width: 27rem;
    margin-top: 1rem;
}

.platetext h1 {
    margin-bottom: 0rem;
    font-family: 'BrandonPrinted-Two';
    font-size: 26px;
}

.platetext h3 {
    margin-top: .5rem;
    font-family: 'DIN Medium';
    font-size: 20px;
}

.platetext p,
ul {
    font-family: 'Miso';
    font-size: 20px;
    line-height: 1.3rem;
}

ul {
    list-style-type: square;
}

.ingredients img {
    max-width: 27rem;
}

.ingredients h2 {
    font-family: 'BrandonPrinted-Two';
    font-size: 20px;
    text-align: center;
}

/*Help Popup */

.box {
    padding: 10px;
    background: #FDF9E8;
    width: 100%;
}

.box img {
    max-width: 2rem;
    margin: auto;
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    padding: 20rem 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    padding: 30px;
    background: #fff;
    border-radius: 20px;
    max-width: 30rem;
    position: relative;
    transition: all 0.5s ease-in-out;
    display: block;
    margin: auto;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: 'DIN Medium';
    font-size: 16px;
    max-width: 20rem;
    margin: auto;
    line-height: 1.3rem;
    text-align: center;
    padding-bottom: .5rem;
}

.popup h1 {
    font-family: 'BrandonPrinted-Two';
    font-size: 22px;
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #BE2B2B;
}

.content img {
    max-width: 10rem;
    padding: 0 3rem;
}

/*Media Queries*/

@media (max-width: 768px) {
    .filter button {
        margin: auto;
    }
}


@media (min-width: 1024px) {
    .wrapper {
        width: 950px;
        max-width: 100%;
        margin: auto;
    }

    .instructions h2 {
        display: block;
        margin: auto;
        font-size: 22px;
    }

    img {
        max-width: 35rem;
    }

    .plateimg img {
        max-width: 35rem;
        float: left;
        padding-right: 2rem;
        display: inline;
        margin-top: 2rem;
    }

    .platetext h1 {
        margin-bottom: 0rem;
        font-family: 'BrandonPrinted-Two';
        font-size: 26px;
        text-align: left;
        margin: auto;
        padding-top: 2rem;
        margin-bottom: .5rem;
    }

    .platetext h3 {
        margin-top: .3rem;
        font-family: 'DIN Medium';
        font-size: 20px;
        text-align: left;
        margin: auto;
        margin-bottom: .5rem;
    }

    .platetext p,
    .platetext ul {
        font-family: 'Miso';
        font-size: 22px;
        line-height: 1.3rem;
        margin: auto;
        max-width: 60rem;
        margin-top: 1rem;
    }

    .ingredients img {
        float: right;
        padding-left: 1rem;
        max-width: 25rem;
        display: inline;
    }

    .ingredients ul {
        float: left;
        display: block;
        margin-right: auto;
    }

    .instructions h2 {
        padding: 1.3rem 0;
    }

    .ingredients {
        padding-top: 18rem;
    }

    .instructions {
        padding-top: 18rem;
    }

}

@media (min-width: 1170px) {
    .cards {
        padding: 0 18rem;
    }
}

@media (max-width: 768px) {

    /* For mobile phones: */
    .filter button {
        margin: auto;
    }
}

@media screen and (max-width: 700px) {

    .popup {
        width: 70%;
    }
}



/*Instructions*/

.instructions h2 {
    font-family: 'BrandonPrinted-Two';
    font-size: 20px;
    text-align: center;
}

.instructions p {
    max-width: 45rem;
    display: block;
    margin: auto;
    font-family: 'Miso';
    font-size: 20px;
    line-height: 1.3rem;
    padding: 1.5rem 0;
}

.instructions img {
    display: block;
    margin: auto;
}
